@import "tailwindcss";

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 antialiased;
  }
}

/* Evita que el Navbar tape el contenido superior */
main {
  @apply pt-16;
}

/* Animación suave para las imágenes del Hero */
@keyframes slow-zoom {
  from { transform: scale(1); }
  to { transform: scale(1.1); }
}
.animate-slow-zoom {
  animation: slow-zoom 20s ease-in-out infinite alternate;
}